body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 31px 26px;
  align-items: center;
  background-color: #21222A;
}

.navbar--icon {
  margin-right: 7px;
  height: 30px;
}

.navbar--logo {
  margin: 0;
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22.25px;
}

.navbar--title {
  margin: 0;
  color: #DEEBF8;
  font-weight: 600;
  font-size: 16px;
}

.main {
  padding: 57px 26px;
  color: #FFFFFF;
}

.main--title {
  margin: 0;
  font-size: 39.06px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.main--unordered_list {
  margin: 0;
  margin-top: 46px;
  max-width: 400px;
}

.main--list_item {
  margin: 20px 0 20px 0;
  line-height: 19px;
  font-size: 16px;
}

.main--list_item:first-child {
  margin: 0 0 20px 0;
}

.main--list_item:last-child {
  margin: 20px 0 0 0;
}
